@font-face {
    font-family: "neckyn_pixel_demoregular";
    src:
    url("fonts/neckyn-pixel-font/neckynpixeldemoregular-yyj3m-webfont.woff2") format("woff2"),
    url("fonts/neckyn-pixel-font/neckynpixeldemoregular-yyj3m-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quagey_pixel_demoregular';
    src: url('fonts/quagey-pixel-font/quageypixeldemoregular-blgxn-webfont.woff2') format('woff2'),
         url('fonts/quagey-pixel-font/quageypixeldemoregular-blgxn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pixel_cowboyregular';
    src: url('fonts/pixel-cowboy-font/pixelcowboy-l7we-webfont.woff2') format('woff2'),
         url('fonts/pixel-cowboy-font/pixelcowboy-l7we-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pixel_musketeerregular';
    src: url('fonts/pixel-musketeer-font/pixelmusketeer-vexo-webfont.woff2') format('woff2'),
         url('fonts/pixel-musketeer-font/pixelmusketeer-vexo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'summer_pixel_wide_22regular';
    src: url('fonts/summer-pixel-wide-22-font/summerpixelwide22regular-4bow4-webfont.woff2') format('woff2'),
         url('fonts/summer-pixel-wide-22-font/summerpixelwide22regular-4bow4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'old_english_gothic_pixelRg';
    src: url('fonts/old-english-gothic-pixel-font/oldenglishgothicpixelregular-ow2bo-webfont.woff2') format('woff2'),
         url('fonts/old-english-gothic-pixel-font/oldenglishgothicpixelregular-ow2bo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    /*Variable Declarations*/
    --label-color: #dda6b7;
    --neon-green: rgb(0, 255, 123);
    --theme-color: #2f4241;
    --focus-color: rgb(203, 171, 235);

    color: white;
    background: var(--theme-color);
    background: linear-gradient(0deg, rgba(47,66,65,1) 31%, rgba(12,12,13,1) 100%);
    line-height: 1.5;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "neckyn_pixel_demoregular";
    
}

body {
    margin: 0;
    padding: 0;
}


h1 {
    color: rgb(107, 17, 17);
    margin: 0;
}

.emphasis_text:hover {
    color: var(--label-color);
}

div .header {
    font-family: "quagey_pixel_demoregular", "pixel_musketeerregular";
    margin-top: 0px;
}

.form-header {
    text-align: center;
    cursor: default;
    color: hsla(171, 14%, 90%, 0.799);
}

.header h2 {
    text-shadow: 0px 0px 1.2px var(--neon-green);
    filter: blur(0.25px);
}

#main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#image-container {
    width: 60%;
    height: 100%;
    border: 1px solid salmon;
    z-index: -5;
}

#form-container {
    width: 40%;
    text-align: center;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.signup-form {
    height: 75%;
    border: 3px solid var(--neon-green);
    width: 75%;
    font-family: "pixel_musketeerregular";
    font-size: 1.15em;
    line-height: calc(1ex / 0.32);
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    text-align: left;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.423), 
    0px 0.5px rgb(0, 0, 0), 0px 2px rgba(0, 0, 0, 0.6);
}

.splash_img {
    width: inherit;
    height: inherit;
    position: absolute;
}

.logo_container {
    text-align: center;
    position: relative;
    top: 360px;
    background-color: rgba(65, 56, 56, 0.5);
    border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "pixel_cowboyregular";
}

.logo{
    width: 100px;
    height: 100px;
    border: 1px solid green;
}

.logo_container span {
    font-size: 5rem;
    border: 1px solid green;
}

label {
    display: flex;
    flex-direction: column;
    color: var(--label-color);
}

input {
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    background-color: inherit;
    margin-top: 5px;
    margin-right: 40px;
    color: white;
    font-family: "pixel_musketeerregular", "system-UI";
    font-size: larger;
    background-image: linear-gradient(to right, #2f4241, #283636, #212b2b, #1a2020, #131616);
}

.register-container {
    text-align: center;
}

button {
    font-size: 1.5em;
    text-align: center;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: inherit;
    color: white;
    cursor: pointer;
    font-family: "pixel_musketeerregular";
}

.pass:invalid {
    border-color: rgba(236, 113, 113, 0.66);
}

label:has(input:focus), input:focus {
    color: var(--focus-color);
    outline: none;
    border-color: var(--focus-color);
}

button:hover {
    color: var(--focus-color);
    border-color: rgb(0, 255, 123);

}

.register-container {
    margin-top: 20px;
}

.link {
    color: hsla(171, 14%, 90%, 0.799);
    text-underline-offset: 5.5px;
}

.link:hover {
    color: var(--focus-color)
}

#eye-container {
    position: absolute;
    height: 80vh;
    width: 80vw;
    visibility: hidden;
}

.eye-wrap {
    position: absolute;
}

.blinking-eye {
    visibility: hidden;
}

/* .noise {
    width: 100%;
    height: 100%;
    filter: contrast(240%) brightness(100%);
    background: 
      conic-gradient(from 268deg at -50% -50%, rgba(47,66,65,1), rgba(96,57,57,0)),
      url(/noise-background.svg)
}

.overlay {
    background: moccasin;
    mix-blend-mode: multiply;
  }  */


  #tv-wrap {
    position: absolute;
    top: 45%;
    left: 37%;
  }

  #tv-svg {
    z-index: 3;
  }

  #tv-base {
    fill: rgb(62,74,73);
  }

  #tv-outset {
    fill: rgb(85, 96, 95);
  }

  #inner-tv {
    fill: black;
    z-index: 1 !important;
  }

  #tv-stand {
    fill: rgb(54, 45, 33);
  }

  #tv-button {
    fill: red;
  }

  #tv-button:hover {
    stroke: #dda6b7;
  }

  .noise-overlay {
    position: absolute;
    left: 14%;
    top: 10%;  
    height: 60%;  
    width: 72%;   
    pointer-events: none; 
    
    /* Noise effect */
    background: 
        repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
        repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;

    background-blend-mode: difference; 
    animation: scramble .2s infinite alternate; 
    opacity: 0.6; 

    /* -webkit-mask: url(#tv-screen-clip);
    mask: url(#tv-screen-clip); */
}

@keyframes scramble {
    100% { background-position: 50% 0, 60% 50%; }
}

.invisible {
    visibility: hidden;
}

#initial-container {
    overflow: auto;
}

.circle-m {
    position: absolute;  
    top: -50px;
    left: 45vw;  
    width: 200px;
    height: 200px;
    background-color: hsl(66, 25%, 62%);
    border-radius: 50%;
}

.circle-s {
    position: absolute;  
    top: -40px;
    left: 45vw;  
    width: 175px;
    height: 175px;
    background-color: hsl(66, 22%, 43%);
    border-radius: 50%;
    opacity:1;
}

.light-noise {  
  position: absolute;  
  z-index: -1;
  top: -10px;  
  width: 100%;
  height: 110%;
  filter: contrast(170%) brightness(1000%);
  background: 
  radial-gradient(circle at 50% 1%, rgba(36,65,63,1), rgba(0,0,0,0.71)),
  url("data:image/svg+xml,%3Csvg viewBox='0 0 800 800' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.69' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;  
    left: 36vw;
    top: 220px;
    font-size: 4rem;
    color: rgba(85, 161, 161, 0.755);
    transition: 1s all;
    transition-delay: 0.8s;
}

.welcome-text:hover {
    color: antiquewhite;
}
