@font-face {
    font-family: "neckyn_pixel_demoregular";
    src:
    url("fonts/neckyn-pixel-font/neckynpixeldemoregular-yyj3m-webfont.woff2") format("woff2"),
    url("fonts/neckyn-pixel-font/neckynpixeldemoregular-yyj3m-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quagey_pixel_demoregular';
    src: url('fonts/quagey-pixel-font/quageypixeldemoregular-blgxn-webfont.woff2') format('woff2'),
         url('fonts/quagey-pixel-font/quageypixeldemoregular-blgxn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pixel_cowboyregular';
    src: url('fonts/pixel-cowboy-font/pixelcowboy-l7we-webfont.woff2') format('woff2'),
         url('fonts/pixel-cowboy-font/pixelcowboy-l7we-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pixel_musketeerregular';
    src: url('fonts/pixel-musketeer-font/pixelmusketeer-vexo-webfont.woff2') format('woff2'),
         url('fonts/pixel-musketeer-font/pixelmusketeer-vexo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'summer_pixel_wide_22regular';
    src: url('fonts/summer-pixel-wide-22-font/summerpixelwide22regular-4bow4-webfont.woff2') format('woff2'),
         url('fonts/summer-pixel-wide-22-font/summerpixelwide22regular-4bow4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'old_english_gothic_pixelRg';
    src: url('fonts/old-english-gothic-pixel-font/oldenglishgothicpixelregular-ow2bo-webfont.woff2') format('woff2'),
         url('fonts/old-english-gothic-pixel-font/oldenglishgothicpixelregular-ow2bo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    /*Variable Declarations*/
    --theme-color: RGB(64, 120, 132);
    --label-color: rgb(248, 210, 242);
    --neon-green: rgb(0, 255, 123);

    color: white;
    background: rgb(47,66,65);
    background: linear-gradient(0deg, rgba(47,66,65,1) 31%, rgba(12,12,13,1) 100%);
    line-height: 1.5;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "neckyn_pixel_demoregular";
}

h1 {
    color: rgb(107, 17, 17);
}

.emphasis_text:hover {
    color: var(--label-color);
}

div .header {
    font-family: "quagey_pixel_demoregular", "pixel_musketeerregular";
    margin-top: 100px;
}

.form-header {
    text-align: center;
    cursor: default;
}

.header h2 {
    text-shadow: 0px 0px 1.2px var(--neon-green);
    filter: blur(0.25px);
}

#main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#image-container {
    width: 50%;
    height: 100%;
    border: 1px solid salmon;
}

#form-container {
    width: 40%;
    margin: 0 50px;
    text-align: center;
}


.signup-form {
    border: 3px solid var(--neon-green);

    padding: 10px;
    text-align: left;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.423), 
    0px 0.5px rgb(0, 0, 0), 0px 2px rgba(0, 0, 0, 0.6);
}

.splash_img {
    width: inherit;
    height: inherit;
    position: absolute;
}

.logo_container {
    text-align: center;
    position: relative;
    top: 250px;
    background-color: rgba(65, 56, 56, 0.5);
    border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "pixel_cowboyregular";
}

.logo{
    width: 100px;
    height: 100px;
    border: 1px solid green;
}

.logo_container span {
    font-size: 5rem;
    border: 1px solid green;
}

label {
    display: flex;
    flex-direction: column;
    color: var(--label-color);
}

input {
    border-radius: 5px;
    height: 20px;
    background-color: inherit;
    margin-top: 10px;
}

.register-container {
    text-align: center;
}

button {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: inherit;
    color: white;
    cursor: pointer;
}

.pass:invalid {
    border-color: rgba(247, 129, 129, 0.542);
}

input:focus {
    border-color: rgb(103, 41, 15);
    box-shadow: 4px 4px black inset;
}

button:hover {
    color: rgb(203, 171, 235);
    border-color: rgb(0, 255, 123);

}

.register-container a {
    color: var(--label-color);
}

#eye-container {
    position: absolute;
    height: 80vh;
    width: 80vw;
    visibility: hidden;
}

.eye-wrap {
    position: absolute;
}

.blinking-eye {
    visibility: hidden;
}